---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Navigation from '../components/Navigation.astro';
import MobileNavigation from '../components/MobileNavigation.astro';
import Card from '../components/Card.astro';
import ProgrammingSkills from '../components/ProgrammingSkills.astro';
import 'bulma/css/bulma.css';
import Footer from '../components/Footer.astro';
import WorkExperience from '../components/WorkExperience.astro';
import ResearchExperience from '../components/ResearchExperience.astro';
import Projects from '../components/Projects.astro';
import Achievements from '../components/Achievements.astro'
---

<Layout title="Emmanuel Gonzalez Morales">

	

	<div class="container">
	
			<Navigation />

			<div>
			<main class="content">
				
				<div class="header-container">
					<!--
					<div class="min-header">
						<button id="theme-switcher" class="toggle-btn secondary"><i class="fa fa-moon-o" aria-hidden="true"></i>	</button> 
					
					</div>
				-->
					<MobileNavigation/>
				</div>

				<div class="main-page">

					<!-- About -->

					
					<About/>


					<!-- Education -->

					<h3 class="sub-title" id="education"><span class="text-gradient">Education</span></h3>

					<div class="card">
			
						<div class="info-container info-container-content" id="uprm"> 

							<div class="info-container-title"> <strong> University of Puerto Rico Mayaguez Campus </strong> <div><strong style="text-align: end;">Exp Grad: May 2025</strong></div></div>
							<div class="info-location">Mayaguez, PR </div>
							<div class="info-gpa"><strong>GPA: 3.48</strong> </div>
							<br>

							Course work: Database, OS, Computer Networks, Data Structure & Algorithms, Software Design/Testing/Requirements, Algorithm Design, Computer Architecture
							
						</div>

					</div>
					
					<div class="card">
					<div class="info-container" id="techx"> 
						<div class="info-container-title"> <strong>Google Tech Exchange</strong> <div>Jan 2023 - May 2023</div></div>
						<div class="info-location">Location: Online </div>
						<br>

						<div class="card-image">
							
							<img class="logo" src="/assets/tech_exchange_logo.png" alt="Google Tech Exchange">
							
						</div>

						Course work: Applied Data Structure, Software Development Studio, Careers in Tech
					</div>
					</div>
					<!-- Skills -->

					<!-- Empty Card without Footer 
						<Card title='' 
						body=''
						id=''/>
					-->

					<h3 class="sub-title" id="skills"><span class="text-gradient">Skills</span></h3>
					
					<ProgrammingSkills></ProgrammingSkills>


					<Card title='Frameworks:' 
					body={`<ul>
						<li style="margin-left: 20px;">Angular</li>
						<li style="margin-left: 20px;">Astro</li>
						<li style="margin-left: 20px;">Spring Boot</li>
						<li style="margin-left: 20px;">Flask</li>
					</ul>
					`}
					id='frameworks'/>

					<Card title='Technologies:' 
					body= {`<ul>
						<li style="margin-left: 20px;">HTML5/CSS3</li>
						<li style="margin-left: 20px;">Git</li>
						<li style="margin-left: 20px;">PostgreSQL</li>
						<li style="margin-left: 20px;">Terminal/Bash</li>
						<li style="margin-left: 20px;">Linux</li>
						<li style="margin-left: 20px;">Google Cloud Storage(GCS)</li>
						<li style="margin-left: 20px;">CRUD</li>
						<li style="margin-left: 20px;">SCRUM</li>
						<li style="margin-left: 20px;">LaTex</li>
						<li style="margin-left: 20px;">Docker</li>
					</ul>`}
					id='tech'/>

					<Card title='Languages:' 
					body={`<ul>
						<li style="margin-left: 20px;">English</li>
						<li style="margin-left: 20px;">Spanish</li>
					</ul>
					`}
					id='lan'/>
					


					<!-- Work Experiences -->

					<h3 class="sub-title" id="worke"><span class="text-gradient">Work Experience</span></h3>
					
					<WorkExperience/>

					<!-- Research Experiences -->
				
					<h3 class="sub-title" id="workr"><span class="text-gradient">Research Experience</span></h3>
					
					<ResearchExperience/>

					

					<!-- Projects (TODO: Move to his own Component ti simplify the codebase )-->

					<h3 class="sub-title" id="projects"><span class="text-gradient">Projects</span></h3>
					
					<Projects/>
						
			

				<!-- Achievements -->

				<h3 class="sub-title" id="achi"><span class="text-gradient">Achievements</span></h3>
			
				<Achievements/>




				</div>

			
			</main>
			<Footer></Footer>
		</div>
</div>
</Layout>
<!--
<button id="scrollToTopButton" class="button is-primary is-rounded to-top-btn" aria-label="Scroll to top">
	<span class="icon">
	  <i class="fas fa-chevron-up"></i> 
	</span>
</button>
-->
<script>
	const themeSwitcher = document.getElementById('theme-switcher');
	const body = document.body;
	body.setAttribute('data-theme', 'light');
	themeSwitcher?.addEventListener('click', () => {
		if (body.getAttribute('data-theme') === 'light') {
			body.setAttribute('data-theme', 'dark');
		} else {
			body.setAttribute('data-theme', 'light');
		}
	});



    const hamburgerMenu = document.querySelector('.hamburger-menu');
    const nav = document.querySelector('nav');
	
	if(hamburgerMenu){
		hamburgerMenu.addEventListener('click', () => {
		nav?.classList.toggle('open');
		});

		console.log("Hamburger menu");
	}
	let scrollToTopButton =document.getElementById('scrollToTopButton')
    if(scrollToTopButton){
			scrollToTopButton.addEventListener('click', function() {
			window.scrollTo({
			top: 0,
			behavior: 'smooth'
			});
		});
	}

	function toggleBackToTopButton(scrollY: any) {
		if(scrollToTopButton){
			if (scrollY > 200) {
				scrollToTopButton.style.setProperty('display', 'flex', 'important');
			} else {
				scrollToTopButton.style.setProperty('display', 'none', 'important');
			}
		}
  }

  window.onscroll = function() {
    toggleBackToTopButton(window.scrollY);
  };

	

</script>

<style>
	main {
		margin-top: 10px;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	.sub-title{
		margin-top: -8px;
	}

	.min-header{
		display: flex;
		background-color: #1d2a33;
		height: 40px;
		justify-content: end;
	
		
	}

	.header-container{
	
		margin-bottom: 15px;
		margin-top: 0px;
	}

	.bullet-indent{
		margin-left: 20px;
	}
	.toggle-btn{
		display: flex;
		margin-right: 30px;
		justify-content: center;
		width: 30px;
		height: 30px;
		margin-top: 5px;
		align-items: center;
		border-radius: 80px;
	}

	article{
		border: 1px solid rgba(var(--primary), 25%);
		color:#1d2a33;
	}

	.text-gradient {
		background-image: var(--primary-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.info-container {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--primary), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.info-container code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--primary), 12%);
		color: rgb(var(--primary));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.info-container-title{
		display: flex;
		justify-content: space-between;
		text-align: start;
	}
	.info-container strong {
		color: rgb(var(--primary));
	}
	.info-location {
		display: flex;
		justify-content: end;
	}
	.info-gpa {
		display: flex;
		justify-content: end;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		background-color: #fff;
		border-bottom: 1px solid #e5e5e5;
		}

	.navbar-logo {
		font-size: 1.5rem;
		font-weight: 700;
	}

	.navbar-links {
		display: flex;
		gap: 1rem;
		list-style: none;
	}

	.navbar-links a {
		text-decoration: none;
		color: #333;
		font-weight: 600;
	}

	.navbar-links a:hover {
		color: #000;
	}

	.hamburger-menu {
		display: none;
	}
	.container {
		display: flex;
		flex-direction: column;
		width: 100% !important;
		padding: 0 !important;
		justify-content: center;
	}
 

	@media (min-width: 768px){

		.to-top-btn{
			display: none;
		}

	}


	.content {
		flex-grow: 1;
		width:  100%;
	}

	.main-page{
		width: 100%;
	}

	.to-top-btn {
		position: fixed !important;
		bottom: 2em;
		right: 2em;
		width: 40px;
		height: 40px;
		z-index: 99;
		border-radius: 50%;
		display: none !important; 
		justify-content: center !important; 
		align-items: center; 
		background-color: rgba(var(--primary)) !important;
	}

	.logo{
		display: flex;
		width: 90%;
		justify-items: center;
		object-fit: contain;
	}

	.card-image .card-image-size{
		display: flex !important;
		justify-content: center;
		justify-self: center;
		justify-items: center;
	}
	.card-image {
		display: flex !important;
		justify-content: center;
		justify-self: center;
		justify-items: center;
	}

</style>
