---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@picocss/pico/css/pico.min.css';
---

<Layout title="Welcome to Astro.">
	<div class="min-header">
		<button id="theme-switcher" class="toggle-btn secondary"><i class="fa fa-moon-o" aria-hidden="true"></i>	</button>
	</div>
	<main class="container">



		<nav>
			<ul>
			  <li>
				<a href="#" class="secondary">
					<i class="fa fa-bars" aria-hidden="true"></i>
			  	</a>
			  </li>
			</ul>
			<ul>
			  <li><strong> <span class="text-gradient">Emmanuel J. Gonzalez Morales</span> </strong></li>
			</ul>
			<ul>
			  <li><a href="#" class="secondary"><i class="fa fa-linkedin" aria-hidden="true"></i>
			  </a></li>
			</ul>
			
		  </nav>

		
		<h3 class="sub-title"><span class="text-gradient">Education</span></h3>
		<p class="info-container"> 
			University of Puerto Rico Mayaguez Campus
		</p>

		<h3 class="sub-title"><span class="text-gradient">Skills</span></h3>
		
		<article></article>

		<h3 class="sub-title"><span class="text-gradient">Experience</span></h3>
		
		<article>L3Harris</article>
		<article>RUMBus</article>
		<article>Puerto Rico Seismic Network</article>
		<article>PVBot Research</article>
		<article>Game Development Research</article>
		
	
		<h3 class="sub-title"><span class="text-gradient">Projects</span></h3>
		
		<article>Google Tech Exchange SDS Group Project</article>
		<article>Random Poller</article>
		<article>Huffman Encoding</article>


		<h3 class="sub-title"><span class="text-gradient">Achievements</span></h3>
		<article></article>
		<article></article>

	</main>
</Layout>

<script>
	const themeSwitcher = document.getElementById('theme-switcher');
	const body = document.body;

	themeSwitcher?.addEventListener('click', () => {
		if (body.getAttribute('data-theme') === 'light') {
		body.setAttribute('data-theme', 'dark');
		} else {
		body.setAttribute('data-theme', 'light');
		}
	});
</script>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	.sub-title{
		margin-top: 20px;
	}

	.min-header{
		display: flex;
		background-color: #1d2a33;
		height: 40px;
		justify-content: end;
		
	}

	.toggle-btn{
		display: flex;
		margin-right: 30px;
		justify-content: center;
		width: 30px;
		height: 30px;
		margin-top: 5px;
		align-items: center;
		border-radius: 80px;
	}

	article{
		border: 1px solid rgba(var(--accent), 25%);
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.info-container {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.info-container code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.info-container strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
