---

---

<h4 id="about" style="margin-bottom: 0px;" >Hi my name is,</h4>
<h1><span class="text-gradient">Emmanuel J. Gonzalez Morales</span></h1>


<div >
    <div class="card-image-size">

        <img src="src/assets/emmanuel_profile_pic.jpg" class="profile-img" alt="Emmanuel Gonzalez">
    
    </div>
    <div class="card-content">
  
        <div class="media">      
            <div class="media-content email-area">
              <p class="title is-4 email">emmanueljgonzalezmorales@gmail.com</p>
              <p class="subtitle is-6 sec-email">emmanuel.gonzalez22@upr.edu</p>
            </div>
    </div>
    <div class="content description">
        
        I'm a Software Engineering student at the University of Puerto Rico Mayagüez (UPRM)
        with experience in Full-stack Development using TypeScript, Angular, Python, Flask,
        and Java with Spring Boot. I've worked on web applications and researched adversarial
        machine learning attacks, gaining skills in both development and cybersecurity.
        I'm proficient in Python, C, C++, JavaScript, and technologies like Docker, Google Cloud,
        and PostgreSQL. At Microsoft, L3Harris, and the Puerto Rico Seismic Network, I gained expertise
        in kernel-level programming and web development.

        <br>
        <br>
        <h2>Socials:</h2>

       
        <br> <!-- Multiple image with link to social medial profiles -->
        <div class="socials">
            <div class="socials-list">
                <a href="https://www.linkedin.com/in/emmanuel-gonzalez-morales22?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BLKq4PdQFTOioGicSh%2B16Nw%3D%3D" class="secondary" target="_blank"><i class="fa fa-linkedin icon-size" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/emmagonz22" class="secondary" target="_blank"><i class="fa fa-github icon-size" aria-hidden="true"></i>
                </a>
                <a href="https://gitlab.com/emmagonz22" class="secondary" target="_blank"><i class="fa fa-gitlab icon-size" aria-hidden="true"></i>
                </a>
            </div>

        
          
        </div>
        <div style="display: flex; justify-content: center;">
            <a href="assets/emmanuelgonzalezmorales_resume.pdf" target="_blank" class="secondary resume-download" style="width: 150px; height: 40.5px" download>
                <h4 class="resume-download">Resume &nbsp; 
                    <i class="fa fa-file" aria-hidden="true">
                    </i>
                </h4> 
            </a> 
        </div>
    </div>
     
  </div>


  <style>

    .card-image-size{
        display: flex;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        height: 210px;
        margin-top: 25px;

    }
    .profile-img{
		
        border-radius: 50% !important; 
		width: 200px !important;
        height: 200px !important;
        object-fit: cover;

	}
    .profile-image-content{
        display: flex;
        width: 100%;
    }
	.image{
		display: flex !important;
		justify-content: center !important;
        width: 100%;
	}
    .description{
        color: #1d2a33;
        margin-bottom: 15px;
        text-align: justify;
        text-justify: inter-word;
        margin-top: 10px;
        
    }
    .text-gradient {
		background-image: var(--primary-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    .socials{
        display: flex;
        justify-content: center;
        margin: 10px !important;
        width: 100%;
    }
    .socials-list{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
    .icon-size{
        font-size: 40px;     
    }
    .email{

        @media (max-width: 550px) {
            font-size: 16px !important;
        }

        font-size: 20px !important;
        text-align: center;

   

    }
    .email-area{
        @media (max-width: 550px) {
            height: 65px ;
        }
        height: 45px;
    }
    .sec-email{
        text-align: center;
    }
    i:hover {
        color: var(--accent) !important;
    }
    .resume-download{
        text-decoration: none !important;
        display:flex;
        justify-content: center;
        margin: 10px !important;
        margin-left: 25px !important;
    }
    .resume-download:link{
        text-decoration: none !important;
    }
    .resume-download:active{
        text-decoration: none !important;
    }
    .resume-download:hover{
        text-decoration: none !important;
        color: var(--accent);
    }
    .secondary{
        color: rgb(16, 125, 197);
    }
  </style>