---
import Card from "./Card.astro";
import CardWithImage from "./CardWithImage.astro";

---


<CardWithImage
				
			
title='Toyota Mobility Challenge' 
subtitle='Team Awarded'
id='toyota-1'
date='Aug 2024 - Current'
href=''
img_src="/assets/ToyotaMobilityChallenge.png"
img_alt="Toyota Mobility Challenge"
body={`

    Granted $25k to develop a parking monitoring app, utilizing TypeScript, React Native and YOLOv8.
    <br>
    <br>
    <strong> Summary: </strong>
    <p style="text-indent: 50px;">
        The Toyota Mobility Challenge invites university students 
        passionate about technology and innovation to develop sustainable 
        solutions for transportation and mobility. Teams will address 
        issues in four key areas: transportation, energy and sustainability,
        health, and social planning, by creating innovative devices or systems.
        Four teams will be selected, each receiving $25,000 to support their
        project development, with $5,000 going directly to the team and $20,000
        allocated for advancing their ideas and securing patents.
    </p>
`}

/>


<CardWithImage
				
			
title='BAE Systems Think Tank' 
subtitle='4th place'
id='bae-think-2'
date='Nov 2023 - Dec 2023'
href=''
img_src="/assets/bae_systems_thinktankthird.png"
img_alt="Bae System Thinktank 3rd edition"
body={`

    BAESystem Thinkthank competition with white paper in "Guidance, Navigation and Controls Subsystems for Autonomous Systems", Mayaguez, Puerto Rico
    <br>
    <br>
    <strong> Summary: </strong>
    <p style="text-indent: 50px;">
        Guidance Navigation and Controls Subsystems for Autonomous systems (GNC) subsystems have a common problem and that is the presence of disturbance
        (noise), this noise can cause many error within the sensor that can affect the terminal states of vehicles. This whitepaper focus on real-time
        machine-learning PID controller as a subsystem proposed in the control function of GNC systems to correct for that noise.
    </p>
`}

/>



<CardWithImage


title='BAE Systems Think Tank' 
subtitle='4th place'
id='bae-think-1'
date='Aug 2022 - Nov 2022'
href=''
img_src="/assets/bae_systems_thinktanksecond.png"
img_alt="Bae System Thinktank 2nd edition"
body={`

    BAESystem Thinkthank competition with white paper in "Laser System for Defense Applications", Mayaguez, Puerto Rico
    <br>
    <br>
    <strong> Summary: </strong>
    
    <p style="text-indent: 50px;">
        Laser systems require a heavy input of power and occupy significant space in the limited area they operate in
        this white paper presents a comprenhensive comparison of using multiple laser system versus having a single 
        system with multiple functionalities. 
    </p>
`}

/>





<Card 
title='Evolving Space Hackathon'
body={`
1st place in the ”Student Category” Hackathon of Blockchain in Bayamon, Puerto Rico 
`}
id='blockchain1'
date='Aug 2022'
/>


<CardWithImage
title='PRLSAMP Scholarship' 
subtitle=''
id='prlsamp'
date='Aug 2022'
href=''
img_src="/assets/prlsamp.png"
img_alt="PRLSAMP program"
body={`
    Scholarship given to student of minority group who participated 
    in the of PRLSAMP (Puerto Rico Louis Stokes Alliance for Minority Participation).
`}

/>