---

---
<br>
<footer>
    <!-- 
    <div class="footer-alignment"> 
        <i class="devicon-astro-plain colored programming-logo-i"></i>
        <span class="footer-text">Made using Astro framework</span>
    </div>
    -->
</footer>

<style>
    .footer-alignment{
        margin-top: -15px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .footer-text{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
</style>