
---
---

<nav class="mobile-nav">
 
  <div class="navbrand" id="navback">
    <a role="button" class="menu-toggle" aria-label="menu" aria-expanded="false" id="open-table" href="#">
      <i class="fa fa-bars icon-style" aria-hidden="true"></i>
    </a>
  </div>

  <div class="nav-menu" id="navbarMenuWrapper">
    <div class="nav-menu-items" id="navbarMenu">
      <a class="nav-item" href="/">About</a>
      <a class="nav-item" href="education">Education</a>
      <a class="nav-item" href="skills">Skills</a>
      <a class="nav-item" href="workexperience">Work Experience</a>
      <a class="nav-item" href="researchexperience">Research Experience</a>
      <a class="nav-item" href="projects">Projects</a>
      <a class="nav-item" href="achievements">Achievements</a>
    </div>
  </div>
</nav>

<script>
  const tableContentButton = document.getElementById("open-table");
  const navbarMenuWrapper = document.getElementById("navbarMenuWrapper");
  const navbarBackground = document.getElementById("navback");
  const iconElement = tableContentButton?.querySelector('i'); // Target the icon inside the button

  if(navbarBackground){
    navbarBackground.setAttribute('data-theme', 'light');
	  tableContentButton?.addEventListener('click', () => {
      if (navbarBackground.getAttribute('data-theme') === 'light') {
          navbarBackground.setAttribute('data-theme', 'dark');
          navbarBackground.setAttribute('style', 'background-color: rgba(0, 0, 0, .2); box-shadow: none;');
          iconElement?.classList.remove('fa-bars');
          iconElement?.classList.add('fa-xmark');
          
      } else {
          navbarBackground.setAttribute('data-theme', 'light');
          navbarBackground.setAttribute('style', 'background-color: white; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, #36658826 0px 2px 6px 2px;');
          iconElement?.classList.remove('fa-xmark');
          iconElement?.classList.add('fa-bars');
          console.log(navbarBackground)
      }
    });
  }
  

  if (tableContentButton) {
    tableContentButton.addEventListener("click", (e) => {
      e.preventDefault(); // Prevent the default anchor behavior
      if (navbarMenuWrapper) {
        navbarMenuWrapper.classList.toggle("is-active");

      }
    });
  }
</script>

  
<style> 

.mobile-nav {
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  position: absolute;
  top: 0;
  left: 0;
}


.navbrand {
  display: flex;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  align-items: center;
  border-radius: 24px;
  color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, #36658826 0px 2px 6px 2px;
  z-index: 999 !important;
  background-color: white;
  outline: none;
}

.text-gradient {
  font-family: "Ubuntu", sans-serif;
  background-image: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}

.menu-toggle {
  display: flex;
  position: fixed;
  height: 40px !important;
  width: 40px !important;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  z-index: 1000 !important;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%); 
  transition: transform 0.4s ease, opacity 0.4s ease, visibility .4s ease;
  background-color: transparent;
}

/* Keyframe animation for sliding in */
@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 0;
  }
}

.nav-menu.is-active {
  animation: slideInFromLeft 0.8s ease forwards;
  display: flex; 
  opacity: 1;  
  visibility: visible;  
  background-color: rgba(0, 0, 0, .93); 
  z-index: 995;
}

.nav-menu:not(.is-active) {
  animation: slideOutToLeft 0.8s ease forwards;
}

.navbar-start {
  flex-direction: column;
  text-align: center;
  height: 100%; 
  align-content: space-evenly;
}

.nav-menu-items {
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 100%;
  height: 100%; 
  padding: 8px 16px;
  align-content: space-evenly;
  justify-content: center;
}



.nav-item {
  color: white;
  font-size: 24px;
  margin: 10px;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  text-align: end;
}


.nav-item:hover{
  opacity: 0.8;
  color: rgb(225, 225, 225);
}

.nav-item:active{
  opacity: 0.8;
  color: rgb(var(--primary));
}


@media (min-width: 768px) {
  .mobile-nav {
    display: none !important;
  }

}

.icon-style {
  color: rgb(var(--primary));
}
    
</style>