---
---

<div class="nav-width desktop"> <!-- Menu for Desktop -->
    <div class="menu justify-center">
        <p class="menu-label">
            <a class="title-a" href="#about">About</a>

        <p class="menu-label">
            <a class="title-a" href="#education">Education</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="#skills">Skills</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="#worke">Work Experiences</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="#workr">Research Experiences</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="#projects">Projects</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="#achi">Achievements</a>
        </p>

    </div>
</div>

<style>

    .nav-width{
        /*
        width: 300px;
        margin-top: 30px;
        padding: 1.5rem;
        */
    }

    .navbar-brand{
        display: flex;
        justify-content: center;
    }

    .title-a{
        color: inherit;  
        text-decoration: inherit
        
    }

    @media (max-width: 768px) {
        .desktop{
            display: none;

        }
    }
 
    
</style>