---
---




<div class="nav-width desktop"> <!-- Menu for Desktop -->
    <aside class="menu">
        <p class="menu-label">
            <a class="title-a" href="#about">About</a>
        </p>
        <p class="menu-label">
            <a class="title-a" href="#education">Education</a>
        </p>
        <ul class="menu-list">
            <li><a href="#uprm">UPRM</a></li>
            <li><a href="#techx">Google Tech Exchange</a></li>
        </ul>
        <p class="menu-label">
            <a class="title-a" href="#skills">Skills</a>
        </p>
        <ul class="menu-list">
            <li><a href="#pl">Programming Languages</a></li>
            <li><a href="#frameworks">Frameworks</a></li>
            <li><a href="#tech">Technologies</a></li>
            <li><a href="#lan">Language</a></li>
        </ul>

        <p class="menu-label">
            <a class="title-a" href="#worke">Work Experiences</a>
        </p>
        <ul class="menu-list">
            <li><a href="#l3">L3Harris</a></li>
            <li><a href="#prsn">PRSN</a></li>
            <li><a href="#gamedev1">UPRM CHRES Remote Summer Internship</a></li>
        </ul>

        <p class="menu-label">
            <a class="title-a" href="#workr">Research Experiences</a>
        </p>
        <ul class="menu-list">
            <li><a href="#panda_adversarial">PandaHat Adversarial</a></li>
            <li><a href="#panda">PandaHat Competition</a></li>
            <li><a href="#rumbus">RUMBus</a></li>
            <li><a href="#pvbot">PVBot</a></li>
        </ul>
        <p class="menu-label">
            <a class="title-a" href="#projects">Projects</a>
        </p>
        <ul class="menu-list">
            <li><a href="#GTEPA1">Vacaniki</a></li>
            <li><a href="#poller">Random Poller</a></li>
            <li><a href="#plv-website">Proyecto Luz Verde</a></li>
            <li><a href="#huffman">Huffman Encoding</a></li>
            <li><a href="#NES1">NES 6502 My name</a></li>
            <li><a href="#dinner">Dinner Dash</a></li>
            <li><a href="#pacman">Pacman</a></li>
        </ul>
        <p class="menu-label">
            <a class="title-a" href="#achi">Achievements</a>
        </p>
        <ul class="menu-list">
            <li><a href="#bae-think-2">BAE Systems Think Tank 2023</a></li>
            <li><a href="#bae-think-1">BAE Systems Think Tank 2022</a></li>
            <li><a href="#blockchain1">Evolving Space Hackathon</a></li>
     
        </ul>
    </aside>
</div>

<style>

    .nav-width{
        width: 300px;
        margin-top: 30px;
        padding: 1.5rem;
    }
    .mobile-nav{
        display: flex;
        width: 100%;
    }
    .navbar-brand{
        display: flex;
        justify-content: center;
    }

    .title-a{
        color: inherit;  
        text-decoration: inherit
        
    }

    @media (max-width: 768px) {
        .desktop{
            display: none;

        }
    }
 
    
</style>