---
---

<div class="w-full desktop"> <!-- Menu for Desktop -->
    <div class="menu p-4 flex flex-row justify-center">

        <p class="menu-label">
            <a class="title-a text-white" href="/">About</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="education">Education</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="skills">Skills</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="workexperience">Work</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="researchexperience">Research</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="projects">Projects</a>
        </p>

        <p class="menu-label">
            <a class="title-a" href="achievements">Achievements</a>
        </p>

    </div>
</div>

<style>

    .nav-width{
        /*
        width: 300px;
        margin-top: 30px;
        padding: 1.5rem;
        */
    }

    .navbar-brand{
        display: flex;
        justify-content: center;
    }

    .title-a{
        color: inherit;  
        text-decoration: inherit
        
    }

    .menu-label {
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 18px;
        font-style: normal;
        padding: 15px;
    }

    @media (max-width: 768px) {
        .desktop{
            display: none;

        }
    }
 
    
</style>