---
import CardFooter from "./CardFooter.astro";
import CardWithImage from "./CardWithImage.astro";
---


<CardFooter id='Transaction-System-venmito' 
title='Transaction Management System' 
body=
{`<ul>
    <li>Implemented a PostgreSQL database schema to manage financial transaction data.</li>
    <li>Developed an ETL pipeline to automate data extraction, transformation, and loading into the database.</li>
    <li>Built a RESTful API with Flask and SQLAlchemy to serve analytical data to the frontend.</li>
    <li>Designed an interactive dashboard using Streamlit for real-time data visualization with Matplotlib for different data analytics.</li>
    <li>Deployed the application using Docker to ensure consistency across environments.</li>
</ul>`} 
footer='<a href="https://github.com/emmagonz22/DB-HotelAnalyticalSystem" target="_blank">https://github.com/emmagonz22/DB-HotelAnalyticalSystem</a>'/>



<CardFooter id='DB-1' 
title='Hotel Analytical System' 
body=
{`<ul>
    <li> Designed and implemented a PostgreSQL database schema to store and manage hotel related data.</li>
    <li>Developed an ETL pipeline to automate data extraction, transformation, and loading into the PostgreSQL database.</li>
    <li>Built a RESTful API using Flask to serve analytical data to the frontend, created with Voila.</li>
</ul>`} 
footer='<a href="https://github.com/emmagonz22/DB-HotelAnalyticalSystem" target="_blank">https://github.com/emmagonz22/DB-HotelAnalyticalSystem</a>'/>


<CardFooter id='GTEPA1' 
title='Vacaniki Google Tech Exchange SDS Group Project' 
body=
{`<ul>
    <li>Developed a Full-stack web app with Python, Flask, HTML5/CSS3 for users to view and create their wikipages.</li>
    <li>Used Google Cloud Storage Buckets to store the content of the website.</li>
    <li>Applied Unit and Integration testing practices that achieved 100% code coverage.</li>
    <li>Utilized continuous integration and integration testing to enhance project efficiency and software reliability.</li>
</ul>`} 
footer='<a href="https://github.com/emmagonz22/vacaniki" target="_blank">https://github.com/emmagonz22/vacaniki</a>'/>


<CardFooter id='poller' 
title='Random Poller' 
body=
{`<ul>
    <li>Coded a web application using HTML5/CSS3, Python with Flask, JavaScript and CSV spreadsheet to store the data.</li>
    <li>Users can add, remove, and edit participants in the poll to randomly select a participant.</li>
    <li>Designed command line tool to use the application in the terminal.</li>
</ul>`} 
footer='<a href="https://github.com/emmagonz22/RandomPoller" target="_blank">https://github.com/emmagonz22/RandomPoller</a>'/>




<CardWithImage
id='plv-website' 
img_src="/assets/plv_logo.jpeg"
img_alt="plv"
title='Proyecto Luz Verde Website' 
subtitle=''
date=''
body=
{`<ul>
    <li>Created the website for Proyecto Luz Verde using Wordpress.</li>
</ul>

<a class="overflow-custom" href="https://www.uprm.edu/proyectoluzverde/" target="_blank">
    https://www.uprm.edu/proyectoluzverde
</a>
`} 
/>


<CardFooter id='huffman' 
title='Huffman Encoding' 
body=
{`<ul>
    <li>Coded a Huffman Encoding compression algorithm using Java on which compressed files space were reduced up to 70%.</li>
</ul>`} 
footer='<a href="https://github.com/emmagonz22/HuffmanCodingP2" target="_blank">https://github.com/emmagonz22/HuffmanCodingP2</a>'
/>


<CardFooter id='NES2' 
title='Assembly NES 6502 TatakaiNES' 
body=
{`<ul>
    <li>Coded a fighting game using the Assembly 6502 instruction.</li>
    <li>Use of the PPU to render 2 players, that with animations. </li>
    <li>Designed sprite using the NEXXT tool using differente color palettes.</li>
</ul>`} 
footer='<a href="https://github.com/emmagonz22/TatakaiNES" target="_blank">https://github.com/emmagonz22/TatakaiNES</a>'
/>

<CardFooter id='NES1' 
title='Assembly NES 6502 "My name"' 
body=
{`<ul>
    <li>Displayed my name in the Assembly 6502 instructions in an NES game.</li>
</ul>`} 
footer='<a href="https://github.com/emmagonz22/NESMYNAME" target="_blank">https://github.com/emmagonz22/NESMYNAME</a>'
/>

<CardFooter id='dinner' 
title='Dinner Dash' 
body=
{`<ul>
    <li>Recreated a mobile game called "Diner Dash" using C++ by creating our own features of serving the burgers using stack and recursion, adding sprites and audio. </li>
    <li>Use of Objected Oriented Programming using the Openframework library.</li>
</ul>`} 
footer='<a href="https://github.com/emmagonz22/DinerDashGameP3" target="_blank">https://github.com/emmagonz22/DinerDashGameP3</a>'
/>

<CardFooter id='pacman' 
title='Pacman' 
body=
{`<ul>
    <li>Recreated a mobile game called "Pacman" using C++ by creating the main mechanics of the games.</li>
    <li>Use of Objected Oriented Programming using the Openframework library.</li>
</ul>`} 
footer='<a href="https://github.com/emmagonz22/PacmanP2" target="_blank">https://github.com/emmagonz22/PacmanP2</a>'
/>

<style>
    @media (max-width: 768px){
		.overflow-custom{
			overflow: hidden;
		}
	}
</style>