
---
import CardWithImage from "./CardWithImage.astro";
import Card from "./Card.astro";
---


<CardWithImage 
    id='panda_adversarial' 
    title='PandaHat Adversarial' 
    subtitle='Researcher Assistant'
    date='Jan 2024 - Oct 2024'
    img_src="src/assets/pandahat_cybersecurity_cover.jpeg"
    img_alt="PandaHat Adversarial"


    body={`<ul>
        <li>Used PyTorch, TensorFlow, Keras and Matplotlib to create different machine models.</li>
        <li>Exploited different models doing adversarial attacks such as one-pixel attack and PGD for CNN.</li>
        <li>Conducted literary review of research papers related to adversarial attacks to machine learning models.</li>
    </ul>`}
    />

<CardWithImage 
    id='panda' 
    img_src="src/assets/pandahat_cybersecurity_cover.jpeg"
    img_alt="PandaHat Competition"
    title='PandaHat Competition Research' 
    subtitle='PandaHat CTF member'
    date='Aug 2023 - Current'
    body={`<ul>
        <li>Learned Linux bash commands to apply cybersecurity skills.</li>
        <li>Use in practice cybersecurity skills to solve Capture the flag (CTF) (Malware Analysis, Web Exploitation).</li>
        <li>Participate in Capture the flag (CTF) competion such as MapleCTF, HuntressCTF.</li>
    </ul>`}
    />


<CardWithImage
    id='rumbus' 
    img_src="src/assets/rumbus.png"
    img_alt="RUMBus"
    title='RUMBus' 
    subtitle='Front-end development'
    date='May 2022 - Current'
    body={`<ul>
        <li>Developed a vehicle tracking & trip management tool using Typescript and Angular, following the GTFS standard.</li>
        <li>Utilized PrimeNG and Material UI to design and enhance the dashboard’s functionality.</li>
        <li>Integrated the Google map API to display the vehicle locations across the UPRM impacting 1300+ students.</li>
    </ul>`}
    />



<Card 
    id='pvbot' 
    title='PVBot Research'
    subtitle='Researcher Assistant'
    date='Feb 2022 - May 2022'
    body=
    {`<ul>
        <li>Created a robot that can scan solar panel using Python and a Raspberry.</li>
        <li>Designed the flowcharts for the functionality of the robot's movement.</li>
        <li>Developed the robot's motion algorithm, incorporating data from multiple sensors to enhance control and navigation.</li>
    </ul>`} 

    />

<CardWithImage
    id='gamedev1' 
    title='UPRM CHRES Remote Summer Reseach' 
    subtitle= 'Game developer'
    date='May 2021 - Jul 2022'
    href=''
    img_src="src/assets/CHRES_logo.png"
    img_alt="CHRES logo"
    body=
    {`<ul>
        <li>Created a game with topic of renewable energy using C# and Unity game engine.</li>
    </ul>`} 

    />