

---
import CardWithImage from "./CardWithImage.astro"
---


<!-- Empty CardFooter
<CardFooter id='' 
title='' 
body=
{``} 
footer=''
/>
-->


<!--
    <CardFooter id='l3' 
    title='L3Harris' 
    date='May 2023 - July 2023'
    body={`<ul>
        <li>Coded a Full-stack web application using the Angular and SpringBoot frameworks.</li>
        <li>Calculated satellite's ephemeris(position) using TLE data for a 7-day period.</li>
        <li>Displayed the propagated orbits in a Cesium 3D globe.</li>
        <li>Used Jira to create and manage the sprint's backlog and BitBucket to collaborate with others Software Engineers.</li></ul>`}
    footer=''
/>
-->

<CardWithImage 
    id='ms' 
    title='Microsoft' 
    subtitle="Incoming Software Engineering intern"
    href=""
    img_src="/assets/ms_logo.png"
    img_alt="Microsoft logo"
    date='May 2024 - Aug 2024'
    body={` <ul>
                <li>Integrated packet drop report in the WFP for PktMon to monitor packets blocked by the firewall rules.</li>
                <li>Worked on kernel level programming and debugging for the WFP PktMon client, utilizing C and WinDBG.</li>
                <li>Authored documentation for the design and implementation of the WFP-PktMon packet drop reporting system.</li>
            </ul>`
        }
    />


<CardWithImage 
id='l3' 
title='L3Harris' 
subtitle="Software Engineering intern"
href=""
img_src="/assets/l3_banner.jpeg"
img_alt="L3Harris logo"
date='May 2023 - July 2023'
body={`<ul>
    <li>Developed a Full-stack web application using the Angular and Spring Boot frameworks.</li>
    <li>Calculated and displayed the satellite’s position using Orekit and TLE data for a 7-day period in a Cesium 3D globe.</li>
    <li>Leverage Jira to create and manage the sprint’s backlog and BitBucket to collaborate with others Software Engineers.</li></ul>`
    }
/>


<CardWithImage 
id='prsn' 
img_src="/assets/prsn_logo.jpeg"
img_alt="PRSN logo"
title='Puerto Rico Seismic Network' 
date='Mar 2022 - Dec 2022'
subtitle="Web developer"
href=""
body={
`<ul>
    <li>Maintained the Seismic Networks website, Linux servers and internal tools using PHP and JavaScript.</li>
    <li>Created a tool using Python to map earthquakes in a Puerto Rico map using PyGMT.</li>
    <li>Utilized strong networking skills to troubleshoot and resolve static IP issues efficiently</li>
</ul>`} 
/>
            