---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/assets/logo.png" />
		<script src="https://kit.fontawesome.com/21c3e30f83.js" crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<slot/>
	</body>
</html>
<style is:global>
	:root {
		--primary: 16, 125, 197;
		--secondary: #8579f2;
		--accent: #5a48fc;
		--primary-gradient: linear-gradient(45deg, rgb(var(--primary)), var(--accent) 30%, white 60%);
		/*--primary-gradient: linear-gradient(45deg, rgb(var(--primary)), #5dde99 30%, white 60%);*/
		--primary-gradient-complete: linear-gradient(45deg, rgb(var(--primary)), rgb(var(--primary)) 30%, white 60%);
		--cardBackground:	#ebebfa;
		--linearPrimarySecondary: linear-gradient(#107dc6, #8579f2);
		--linearPrimaryAccent: linear-gradient(#107dc6, #5a48fc);
		--linearSecondaryAccent: linear-gradient(#8579f2, #5a48fc);
		--radialPrimarySecondary: radial-gradient(#107dc6, #8579f2);
		--radialPrimaryAccent: radial-gradient(#107dc6, #5a48fc);
		--radialSecondaryAccent: radial-gradient(#8579f2, #5a48fc);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
		max-width: 100%;
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}


</style>
